{% extends 'base.html.twig' %}

{% block title %}Favorite
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">

		<div class="example-wrapper">

			{% for favorite in favorites %}

				<a href="{{ path('article', {'id': favorite.article.id}) }}">
					<h1>{{favorite.article.title}}</h1>
					<img src={{favorite.article.picture}}>
					{{favorite.article.description}}
					{{favorite.article.price}}
				</a>

			{% endfor %}

		</div>
	{% endblock %}
