{% extends 'base.html.twig' %}

{% block title %}Receipts{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1.5em auto;
			max-width: 900px;
			width: 95%;
			font-family: 'Arial', sans-serif;
			color: #333;
		}

		/* Conteneur principal pour les cartes */
		.card {
			display: flex;
			align-items: center;
			background: #f8f9fa;
			margin-bottom: 15px;
			padding: 15px;
			border-radius: 8px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
			transition: box-shadow 0.3s ease-in-out;
		}

		.card:hover {
			box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
		}

		/* Image des articles */
		.card img {
			width: 100px;
			height: 75px;
			border-radius: 6px;
			object-fit: cover;
			margin-right: 20px;
		}

		/* Informations des articles */
		.card-info {
			flex: 1;
		}

		.card-info h5 {
			font-size: 18px;
			color: #007bff;
			margin: 0 0 10px;
		}

		.card-info p {
			font-size: 16px;
			color: #6c757d;
			margin: 0 0 10px;
		}

		.card-info .price {
			font-size: 18px;
			color: #28a745;
			font-weight: bold;
		}

		/* Total des recettes */
		.total-receipts {
			text-align: right;
			font-size: 20px;
			color: #333;
			font-weight: bold;
			margin-top: 20px;
			padding: 10px;
			border-top: 1px solid #ccc;
		}

	</style>

	<div class="example-wrapper">
		<h1>Receipts of {{ user.name }}</h1>

		{% if sold_article|length > 0 %}
			{% for article in sold_article %}
				<div class="card">
					<img src="{{ asset(article.picture) }}" onerror="this.onerror=null;this.src='{{ article.picture }}';" alt="{{article.title}}">
					<div class="card-info">
						<h5>{{ article.title }}</h5>
						<p class="price">{{ article.price }}€</p>
					</div>
				</div>
			{% endfor %}

			<div class="total-receipts">
				Total Receipts: {{ receipts }}€
			</div>
		{% else %}
			<p>No receipts found for this user.</p>
		{% endif %}
	</div>
{% endblock %}
