<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    <style>
        header {
            background: lightgray;
            padding: 4px 0;
        }

        ul {
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;
        }

        a {
            color: purple;
            text-decoration: none;
        }
    </style>

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href={{ path('home') }}> Vinted </a>
                </li>
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <li>
                    <a href={{ path('login') }}> Login </a>
                </li>
                <li>
                    <a href={{ path('register') }}> Register </a>
                </li>
            {% else %}
                <li>
                    <a href={{ path('sell') }}> Sell </a>
                </li>
                <li>
                    <a href={{ path('message') }}> Message ({{notification_count}}) </a>
                </li>
                <li>
                    <a href={{ path('profile') }}> Profile </a>
                </li>
                <li>
                    <a href={{ path('logout') }}> Logout </a>
                </li>
            {% endif %}
            </ul>
        </nav>
    </header>

    {% block body %}{% endblock %}
</body>
</html>
